.stopwatch .buttons {
	display: flex;
	justify-content: space-between;
}

.stopwatch .buttons a {
	cursor: pointer;
	text-decoration: none;
	padding: 0.45rem 1.7rem;
	color: #113f67;

	border-radius: 0.2rem;
}

.stopwatch .buttons a:only-of-type {
	margin: 0 auto;
}

.stopwatch a:first-of-type {
	background-color: #113f67;
	color: white;
}

.stopwatch a:last-of-type {
	border: 1px solid #113f67;
}
